@import "tailwindcss";
@charset "UTF-8";



.carrito:hover #carrito {
  display: block;
  height: fit-content;
  min-width: 200px;
  width: fit-content;
}


  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  